canvas {
  background-color: black;
  display:block;
  margin:0 auto;
  width:75%;
  height:75%;
}
button {
  float:right;
}
.navbar {
  overflow: hidden;
  background-color: #1f2833;
  font-family: Arial;
  }
  
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #66fcf1;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size:1.2em
}
  /* The dropdown container */
  .dropdown {
  float: left;
  overflow: hidden;
}
  
  /* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.2em;
  border: none;
  outline: none;
  color: #66fcf1;
  padding: 1em 1em;
  background-color: inherit;
  margin: 0; 
}
  
  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #45a29e;
  color: white;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c4c9d0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #45a29e;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
main {
  padding: 2em;    
  margin:8em;
  background-color:rgb(235, 222, 222);
  margin-top:0;
  margin-bottom:0;

}
body{
  margin:0 auto;
  background-color: rgb(162, 162, 162);

}
footer {
  background-color:#1f2833;
  color:rgb(0,195,255);
  padding: 1em 1em;
  text-align:center;
}

table, th,td {
  border: 1px solid black;
  text-align: center;
}
table {
  width:60%
}
.change a:link {
  background-color: red;
  color:green;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
}
.change a:hover {
  background-color:orange;
}